

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h5 class="bg-warning p-2">Lowercase Directive</h5>
            <input type="text" class="form-control mb-4" LowerCase>
            <h5 class="bg-warning p-2">CreditCard Directive</h5>
            <input type="text" class="form-control mb-4" creditCard>

            <h5 class="bg-warning p-2">CssHighlighter Directive</h5>
            <p basicCss [getClass]="'alert-warning'">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                 when an unknown printer took a galley of type and scrambled it to make a type
                  specimen book.
            </p>
            <h5 class="bg-warning p-2">CssHighlighter Directive With Rendrer2</h5>
               <p advanceCss [DefaultColor]="'hotpink'" [HoverColor]="'yellowgreen'">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                 when an unknown printer took a galley of type and scrambled it to make a type
                  specimen book.
            </p>
            <h5 class="bg-warning p-2">Basic Pipes</h5>
            <p>
                {{title | uppercase}}
            </p>
              
            <p>
                {{title | lowercase}}
            </p>
        </div>
        
        <div class="card">
            <div class="card-header">
                {{CourseDetails.title | uppercase}}
            </div>
            <div class="card-body">
                <p>
                    {{CourseDetails.students | number}}
                </p>
                <p>
                    {{CourseDetails.rating | number : '1.2-2'}}
                </p>
                <p>
                    {{CourseDetails.price | currency : 'INR'}}
                </p>
                <P>
                    {{CourseDetails.releaseDate | date : 'medium'}}
                </P>
            </div>
        </div>
    </div>
    <h5 class="bg-warning p-2">Summary Pipe</h5>
        <div>
            <p>
                {{title1 | summary}}
            </p>
        </div>
        <h5 class="bg-warning p-2">Filter Pipe</h5>
        <div>
            <input [(ngModel)]="searchedPlayer" type="text" class="form-control mb-4">
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>sr.no.</th>
                    <th>player name</th>
                    <th>team</th>
                    <th>player age</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of playersArr | filter : searchedPlayer;let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{player.name}}</td>
                    <td>{{player.team}}</td>
                    <td>{{player.age}}</td>
                    <td>{{player.role}}</td>
                </tr>
            </tbody>
        </table>
        
</div>